body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

textarea {
    height: 120px;
}

button {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}
